In [1]:
import papermill as pm

In [2]:
pm.execute_notebook('00_data_stock_returns.ipynb', '00_data_stock_returns.ipynb')

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Executing: 100%|██████████| 18/18 [01:04<00:00,  3.59s/cell]

{'cells': [{'cell_type': 'code',
   'execution_count': 1,
   'id': '79953728',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:19:19.904355Z',
     'iopub.execute_input': '2025-03-13T16:19:19.904679Z',
     'iopub.status.idle': '2025-03-13T16:19:20.635892Z',
     'shell.execute_reply': '2025-03-13T16:19:20.635586Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:19:19.885905',
     'end_time': '2025-03-13T16:19:20.636809',
     'duration': 0.750904,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': "### Installing the required packages if not already installed\npackages = ['numpy', 'pandas', 'warnings', 'sqlite3', 'yfinance', 'numba', 'time']\n\nfor package in packages:\n    try:\n        __import__(package)\n    except ImportError:\n        %pip install {package}\n\n\n### Start timer\nimport time\nstart = time.time()\n\nimport numpy as np\nimport pandas as pd\nimport warnings\nimport sqlite3\nimport os\n\nfrom numba import njit\n\n### Ignoring the warnings\nwarnings.filterwarnings('ignore')\n\n### Setting working directory\nos.chdir('/Users/emilwilliamhansen/Library/Mobile Documents/com~apple~CloudDocs/School/Master Thesis/Code')"},
  {'cell_type': 'code',
   'execution_count': 2,
   'id': '53e55916',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:19:20.640511Z',
     'iopub.execute_input': '2025-03-13T16:19:20.640701Z',
     'iopub.status.idle': '2025-03-13T16:19:20.726553Z',
     'shell.execute_reply': '2025-03-13T16:19:20.726307Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:19:20.638748',
     'end_time': '2025-03-13T16:19:20.727537',
     'duration': 0.088789,
     'status': 'completed'},
    'tags': []},
   'outputs': [{'output_type': 'execute_result',
     'metadata': {},
     'data': {'text/plain': '               ISIN ticker                       Name       Date  Return  \\\n0      NO0003069908    AAT  Aust-Agder Trafikkselskap 1980-01-31  0.0000   \n1      NO0003069908    AAT  Aust-Agder Trafikkselskap 1980-02-29  0.0000   \n2      NO0003069908    AAT  Aust-Agder Trafikkselskap 1980-03-31  0.0000   \n3      NO0003069908    AAT  Aust-Agder Trafikkselskap 1980-04-30  0.0417   \n4      NO0003069908    AAT  Aust-Agder Trafikkselskap 1980-05-31  0.4600   \n...             ...    ...                        ...        ...     ...   \n14953  US36467X2062    GIG          GAMING INNOVATION 2024-08-31 -0.0334   \n14954  VGG3175Q1081   EPIC                   Epic Gas 2020-12-31  0.0191   \n14955  VGG3175Q1081   EPIC                   Epic Gas 2021-01-31 -0.0437   \n14956  VGG3175Q1081   EPIC                   EPIC GAS 2021-02-28  0.1432   \n14957  VGG3175Q1081  EPICT                   EPIC GAS 2021-03-31 -0.0798   \n\n        Price       Shares  \n0      240.00       4000.0  \n1      240.00       4000.0  \n2      240.00       4000.0  \n3      250.00       4000.0  \n4      325.00       4000.0  \n...       ...          ...  \n14953   28.95  127132040.0  \n14954   16.00  106616352.0  \n14955   15.30  106616352.0  \n14956   16.30  106616352.0  \n14957   15.00  106616352.0  \n\n[106912 rows x 7 columns]',
      'text/html': '<div>\n<style scoped>\n    .dataframe tbody tr th:only-of-type {\n        vertical-align: middle;\n    }\n\n    .dataframe tbody tr th {\n        vertical-align: top;\n    }\n\n    .dataframe thead th {\n        text-align: right;\n    }\n</style>\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>ISIN</th>\n      <th>ticker</th>\n      <th>Name</th>\n      <th>Date</th>\n      <th>Return</th>\n      <th>Price</th>\n      <th>Shares</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>NO0003069908</td>\n      <td>AAT</td>\n      <td>Aust-Agder Trafikkselskap</td>\n      <td>1980-01-31</td>\n      <td>0.0000</td>\n      <td>240.00</td>\n      <td>4000.0</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>NO0003069908</td>\n      <td>AAT</td>\n      <td>Aust-Agder Trafikkselskap</td>\n      <td>1980-02-29</td>\n      <td>0.0000</td>\n      <td>240.00</td>\n      <td>4000.0</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>NO0003069908</td>\n      <td>AAT</td>\n      <td>Aust-Agder Trafikkselskap</td>\n      <td>1980-03-31</td>\n      <td>0.0000</td>\n      <td>240.00</td>\n      <td>4000.0</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>NO0003069908</td>\n      <td>AAT</td>\n      <td>Aust-Agder Trafikkselskap</td>\n      <td>1980-04-30</td>\n      <td>0.0417</td>\n      <td>250.00</td>\n      <td>4000.0</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>NO0003069908</td>\n      <td>AAT</td>\n      <td>Aust-Agder Trafikkselskap</td>\n      <td>1980-05-31</td>\n      <td>0.4600</td>\n      <td>325.00</td>\n      <td>4000.0</td>\n    </tr>\n    <tr>\n      <th>...</th>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n    </tr>\n    <tr>\n      <th>14953</th>\n      <td>US36467X2062</td>\n      <td>GIG</td>\n      <td>GAMING INNOVATION</td>\n      <td>2024-08-31</td>\n      <td>-0.0334</td>\n      <td>28.95</td>\n      <td>127132040.0</td>\n    </tr>\n    <tr>\n      <th>14954</th>\n      <td>VGG3175Q1081</td>\n      <td>EPIC</td>\n      <td>Epic Gas</td>\n      <td>2020-12-31</td>\n      <td>0.0191</td>\n      <td>16.00</td>\n      <td>106616352.0</td>\n    </tr>\n    <tr>\n      <th>14955</th>\n      <td>VGG3175Q1081</td>\n      <td>EPIC</td>\n      <td>Epic Gas</td>\n      <td>2021-01-31</td>\n      <td>-0.0437</td>\n      <td>15.30</td>\n      <td>106616352.0</td>\n    </tr>\n    <tr>\n      <th>14956</th>\n      <td>VGG3175Q1081</td>\n      <td>EPIC</td>\n      <td>EPIC GAS</td>\n      <td>2021-02-28</td>\n      <td>0.1432</td>\n      <td>16.30</td>\n      <td>106616352.0</td>\n    </tr>\n    <tr>\n      <th>14957</th>\n      <td>VGG3175Q1081</td>\n      <td>EPICT</td>\n      <td>EPIC GAS</td>\n      <td>2021-03-31</td>\n      <td>-0.0798</td>\n      <td>15.00</td>\n      <td>106616352.0</td>\n    </tr>\n  </tbody>\n</table>\n<p>106912 rows × 7 columns</p>\n</div>'},
     'execution_count': 2}],
   'source': '### Reading the datasets\nmonthly_80_20 = (pd.read_csv("Data/obi/monthly_stock_returns_ose.csv",\n                      sep=\';\', encoding=\'latin1\')[["ISIN", "ticker", "Last_Sec_Name", "Date", "MonthlyReturn", "LastPrice", "NoShares"]]\n                      ).rename(columns={"Last_Sec_Name": "Name", "MonthlyReturn": "Return", "LastPrice": "Price", "NoShares": "Shares"})\n\nmonthly_20_24 = (pd.read_csv(\'Data/obi/ose_equity_euronext_data/monthly_ose_stocks_nov_2020_aug_2024.csv\',\n                         sep=\',\', encoding=\'latin1\')[["ISIN", "ticker", "Name", "Date", "Return", "Price", "SharesOutstanding"]]\n                         ).rename(columns={"SharesOutstanding": "Shares"})\n\n### Combining the datasets\nmonthly = pd.concat([monthly_80_20, monthly_20_24])\ndel monthly_80_20, monthly_20_24\n\n### Fixing the date format\nmonthly["Date"] = pd.to_datetime(monthly["Date"], format="%Y%m%d")\n\nmonthly'},
  {'cell_type': 'code',
   'execution_count': 3,
   'id': '60e56c91',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:19:20.730606Z',
     'iopub.execute_input': '2025-03-13T16:19:20.730763Z',
     'iopub.status.idle': '2025-03-13T16:19:40.657706Z',
     'shell.execute_reply': '2025-03-13T16:19:40.656853Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:19:20.728972',
     'end_time': '2025-03-13T16:19:40.659788',
     'duration': 19.930816,
     'status': 'completed'},
    'tags': []},
   'outputs': [{'output_type': 'execute_result',
     'metadata': {},
     'data': {'text/plain': '                  ISIN ticker                       Name       Date  Return  \\\n0         NO0003069908    AAT  Aust-Agder Trafikkselskap 1980-01-04  0.0000   \n1         NO0003069908    AAT  Aust-Agder Trafikkselskap 1980-01-08  0.0000   \n2         NO0003069908    AAT  Aust-Agder Trafikkselskap 1980-01-11  0.0000   \n3         NO0003069908    AAT  Aust-Agder Trafikkselskap 1980-01-15  0.0000   \n4         NO0003069908    AAT  Aust-Agder Trafikkselskap 1980-01-18  0.0000   \n...                ...    ...                        ...        ...     ...   \n35407819  VGG3175Q1081   EPIC                   EPIC GAS 2021-03-04 -0.0338   \n35407820  VGG3175Q1081   EPIC                   EPIC GAS 2021-03-05 -0.0350   \n35407821  VGG3175Q1081   EPIC                   EPIC GAS 2021-03-05 -0.0350   \n35407822  VGG3175Q1081   EPIC                   EPIC GAS 2021-03-05 -0.0350   \n35407823  VGG3175Q1081  EPICT                   EPIC GAS 2021-03-09  0.0870   \n\n          Price       Shares  \n0           NaN       4000.0  \n1           NaN       4000.0  \n2           NaN       4000.0  \n3           NaN       4000.0  \n4           NaN       4000.0  \n...         ...          ...  \n35407819   14.3  106616352.0  \n35407820   13.8  106616352.0  \n35407821   13.8  106616352.0  \n35407822   13.8  106616352.0  \n35407823   15.0  106616352.0  \n\n[37291557 rows x 7 columns]',
      'text/html': '<div>\n<style scoped>\n    .dataframe tbody tr th:only-of-type {\n        vertical-align: middle;\n    }\n\n    .dataframe tbody tr th {\n        vertical-align: top;\n    }\n\n    .dataframe thead th {\n        text-align: right;\n    }\n</style>\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>ISIN</th>\n      <th>ticker</th>\n      <th>Name</th>\n      <th>Date</th>\n      <th>Return</th>\n      <th>Price</th>\n      <th>Shares</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>NO0003069908</td>\n      <td>AAT</td>\n      <td>Aust-Agder Trafikkselskap</td>\n      <td>1980-01-04</td>\n      <td>0.0000</td>\n      <td>NaN</td>\n      <td>4000.0</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>NO0003069908</td>\n      <td>AAT</td>\n      <td>Aust-Agder Trafikkselskap</td>\n      <td>1980-01-08</td>\n      <td>0.0000</td>\n      <td>NaN</td>\n      <td>4000.0</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>NO0003069908</td>\n      <td>AAT</td>\n      <td>Aust-Agder Trafikkselskap</td>\n      <td>1980-01-11</td>\n      <td>0.0000</td>\n      <td>NaN</td>\n      <td>4000.0</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>NO0003069908</td>\n      <td>AAT</td>\n      <td>Aust-Agder Trafikkselskap</td>\n      <td>1980-01-15</td>\n      <td>0.0000</td>\n      <td>NaN</td>\n      <td>4000.0</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>NO0003069908</td>\n      <td>AAT</td>\n      <td>Aust-Agder Trafikkselskap</td>\n      <td>1980-01-18</td>\n      <td>0.0000</td>\n      <td>NaN</td>\n      <td>4000.0</td>\n    </tr>\n    <tr>\n      <th>...</th>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n    </tr>\n    <tr>\n      <th>35407819</th>\n      <td>VGG3175Q1081</td>\n      <td>EPIC</td>\n      <td>EPIC GAS</td>\n      <td>2021-03-04</td>\n      <td>-0.0338</td>\n      <td>14.3</td>\n      <td>106616352.0</td>\n    </tr>\n    <tr>\n      <th>35407820</th>\n      <td>VGG3175Q1081</td>\n      <td>EPIC</td>\n      <td>EPIC GAS</td>\n      <td>2021-03-05</td>\n      <td>-0.0350</td>\n      <td>13.8</td>\n      <td>106616352.0</td>\n    </tr>\n    <tr>\n      <th>35407821</th>\n      <td>VGG3175Q1081</td>\n      <td>EPIC</td>\n      <td>EPIC GAS</td>\n      <td>2021-03-05</td>\n      <td>-0.0350</td>\n      <td>13.8</td>\n      <td>106616352.0</td>\n    </tr>\n    <tr>\n      <th>35407822</th>\n      <td>VGG3175Q1081</td>\n      <td>EPIC</td>\n      <td>EPIC GAS</td>\n      <td>2021-03-05</td>\n      <td>-0.0350</td>\n      <td>13.8</td>\n      <td>106616352.0</td>\n    </tr>\n    <tr>\n      <th>35407823</th>\n      <td>VGG3175Q1081</td>\n      <td>EPICT</td>\n      <td>EPIC GAS</td>\n      <td>2021-03-09</td>\n      <td>0.0870</td>\n      <td>15.0</td>\n      <td>106616352.0</td>\n    </tr>\n  </tbody>\n</table>\n<p>37291557 rows × 7 columns</p>\n</div>'},
     'execution_count': 3}],
   'source': 'daily_80_90 = (pd.read_csv("Data/obi/daily_stock_returns_ose_csv/daily_stock_returns_ose_1980_1989.csv",\n                        sep=\';\', encoding=\'latin1\')[["ISIN", "ticker", "Last_Sec_Name", "Date", "Return", "ClosePrice", "SharesOutstanding"]]\n                        ).rename(columns={"Last_Sec_Name": "Name", "ClosePrice": "Price", "SharesOutstanding": "Shares"})\n\ndaily_90_00 = (pd.read_csv("Data/obi/daily_stock_returns_ose_csv/daily_stock_returns_ose_1990_1999.csv",\n                        sep=\';\', encoding=\'latin1\')[["ISIN", "ticker", "Last_Sec_Name", "Date", "Return", "ClosePrice", "SharesOutstanding"]]\n                        ).rename(columns={"Last_Sec_Name": "Name", "ClosePrice": "Price", "SharesOutstanding": "Shares"})\n\ndaily_00_10 = (pd.read_csv("Data/obi/daily_stock_returns_ose_csv/daily_stock_returns_ose_2000_2009.csv",\n                        sep=\';\', encoding=\'latin1\')[["ISIN", "ticker", "Last_Sec_Name", "Date", "Return", "ClosePrice", "SharesOutstanding"]]\n                        ).rename(columns={"Last_Sec_Name": "Name", "ClosePrice": "Price", "SharesOutstanding": "Shares"})\n\ndaily_10_20 = (pd.read_csv("Data/obi/daily_stock_returns_ose_csv/daily_stock_returns_ose_2010_2020.csv",\n                        sep=\';\', encoding=\'latin1\')[["ISIN", "ticker", "Last_Sec_Name", "Date", "Return", "ClosePrice", "SharesOutstanding"]]\n                        ).rename(columns={"Last_Sec_Name": "Name", "ClosePrice": "Price", "SharesOutstanding": "Shares"})\n\ndaily_20_24 = (pd.read_csv(\'Data/obi/ose_equity_euronext_data/daily_ose_stocks_nov_2020_aug_2024.csv\',\n                         sep=\';\', encoding=\'latin1\')[["ticker", "Name", "Date", "Return", "ClosePrice", "SharesOutstanding"]]\n                        ).rename(columns={"ClosePrice": "Price", "SharesOutstanding": "Shares"})\n\n### Fixing the ISIN values for 2020-2024 dataset by extracing the ISIN values from the monthly dataset\ndaily_20_24[\'ISIN\'] = np.nan\ndaily_20_24 = daily_20_24.merge(monthly[["ISIN", "ticker"]], on="ticker", how="left").drop(columns=\'ISIN_x\').rename(columns={"ISIN_y": "ISIN"})\n\n### Combining the datasets\ndaily = pd.concat([daily_80_90, daily_90_00, daily_00_10, daily_10_20, daily_20_24])\ndel daily_80_90, daily_90_00, daily_00_10, daily_10_20, daily_20_24\n\n\n### Fixing the date format\ndaily["Date"] = pd.to_datetime(daily["Date"], format="%Y%m%d")\n\ndaily'},
  {'cell_type': 'code',
   'execution_count': 4,
   'id': '2eb128b6',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:19:40.665263Z',
     'iopub.execute_input': '2025-03-13T16:19:40.665441Z',
     'iopub.status.idle': '2025-03-13T16:19:51.615154Z',
     'shell.execute_reply': '2025-03-13T16:19:51.614695Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:19:40.662982',
     'end_time': '2025-03-13T16:19:51.617082',
     'duration': 10.9541,
     'status': 'completed'},
    'tags': []},
   'outputs': [{'output_type': 'execute_result',
     'metadata': {},
     'data': {'text/plain': '     ticker                       Name\n0      2020               2020 Bulkers\n1       5PG           5th Planet Games\n2      AASB            Aasen Sparebank\n3       AAT  Aust-Agder Trafikkselskap\n4       AAV              Adresseavisen\n...     ...                        ...\n1072    ZAP                     Zaptec\n1073   ZENA              Zenith Energy\n1074   ZENT                    Zenitel\n1075   ZONC                   Zoncolan\n1076  ZWIPE                      Zwipe\n\n[1077 rows x 2 columns]',
      'text/html': '<div>\n<style scoped>\n    .dataframe tbody tr th:only-of-type {\n        vertical-align: middle;\n    }\n\n    .dataframe tbody tr th {\n        vertical-align: top;\n    }\n\n    .dataframe thead th {\n        text-align: right;\n    }\n</style>\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>ticker</th>\n      <th>Name</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>2020</td>\n      <td>2020 Bulkers</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>5PG</td>\n      <td>5th Planet Games</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>AASB</td>\n      <td>Aasen Sparebank</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>AAT</td>\n      <td>Aust-Agder Trafikkselskap</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>AAV</td>\n      <td>Adresseavisen</td>\n    </tr>\n    <tr>\n      <th>...</th>\n      <td>...</td>\n      <td>...</td>\n    </tr>\n    <tr>\n      <th>1072</th>\n      <td>ZAP</td>\n      <td>Zaptec</td>\n    </tr>\n    <tr>\n      <th>1073</th>\n      <td>ZENA</td>\n      <td>Zenith Energy</td>\n    </tr>\n    <tr>\n      <th>1074</th>\n      <td>ZENT</td>\n      <td>Zenitel</td>\n    </tr>\n    <tr>\n      <th>1075</th>\n      <td>ZONC</td>\n      <td>Zoncolan</td>\n    </tr>\n    <tr>\n      <th>1076</th>\n      <td>ZWIPE</td>\n      <td>Zwipe</td>\n    </tr>\n  </tbody>\n</table>\n<p>1077 rows × 2 columns</p>\n</div>'},
     'execution_count': 4}],
   'source': '### Getting the values unique rows for ISIN and ticker\nisin_ticker = pd.concat([monthly[["ISIN", "ticker"]], daily[["ISIN", "ticker"]]]).drop_duplicates().reset_index(drop=True)\n\n### Getting the rows where the ISIN values are not unique\nisin = isin_ticker[isin_ticker.duplicated(subset=\'ISIN\', keep=False)].sort_index().sort_values(by=\'ISIN\')\n\n### If a row has a NaN value in the ticker column, then we keep the row with the ticker value\nisin = isin.dropna(subset=[\'ticker\'])\n\n### Dropping the duplicate ISINs, but keeping the last one\nisin = isin.drop_duplicates(subset=\'ISIN\', keep=\'last\')\n\n### Creating a dictionary to map ISIN to ticker\nisin_dict = isin.set_index(\'ISIN\')[\'ticker\'].to_dict()\n\n### Updating the ticker column in the daily and monthly datasets\ndaily[\'ticker\'] = daily[\'ISIN\'].map(isin_dict).fillna(daily[\'ticker\'])\nmonthly[\'ticker\'] = monthly[\'ISIN\'].map(isin_dict).fillna(monthly[\'ticker\'])\n\n### Getting all the unique tickers from both datasets\ncompanies = pd.concat([daily, monthly])[[\'ticker\', \'Name\']].drop_duplicates(subset=\'ticker\').sort_values(\'ticker\').reset_index(drop=True)\ncompanies'},
  {'cell_type': 'code',
   'execution_count': 5,
   'id': '9d49936b',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:19:51.622236Z',
     'iopub.execute_input': '2025-03-13T16:19:51.622421Z',
     'iopub.status.idle': '2025-03-13T16:19:55.132392Z',
     'shell.execute_reply': '2025-03-13T16:19:55.131954Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:19:51.619889',
     'end_time': '2025-03-13T16:19:55.134461',
     'duration': 3.514572,
     'status': 'completed'},
    'tags': []},
   'outputs': [{'output_type': 'execute_result',
     'metadata': {},

In [3]:
pm.execute_notebook('01_data_factors_rf_mkt.ipynb', '01_data_factors_rf_mkt.ipynb')

Executing: 100%|██████████| 5/5 [00:01<00:00,  2.83cell/s]

{'cells': [{'cell_type': 'code',
   'execution_count': 1,
   'id': 'd2dd9378',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:24.658674Z',
     'iopub.execute_input': '2025-03-13T16:20:24.659100Z',
     'iopub.status.idle': '2025-03-13T16:20:25.195366Z',
     'shell.execute_reply': '2025-03-13T16:20:25.195112Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:24.652672',
     'end_time': '2025-03-13T16:20:25.196241',
     'duration': 0.543569,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': "### Installing the required packages if not already installed\npackages = ['numpy', 'pandas', 'warnings', 'sqlite3', 'yfinance', 'numba', 'time']\n\nfor package in packages:\n    try:\n        __import__(package)\n    except ImportError:\n        %pip install {package}\n\n\n### Start timer\nimport time\nstart = time.time()\n\nimport numpy as np\nimport pandas as pd\nimport warnings\nimport sqlite3\nimport os\n\n### Ignoring the warnings\nwarnings.filterwarnings('ignore')\n\n### Setting working directory\nos.chdir('/Users/emilwilliamhansen/Library/Mobile Documents/com~apple~CloudDocs/School/Master Thesis/Code')"},
  {'cell_type': 'code',
   'execution_count': 2,
   'id': 'a39fabbe',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:25.198487Z',
     'iopub.execute_input': '2025-03-13T16:20:25.198650Z',
     'iopub.status.idle': '2025-03-13T16:20:25.215830Z',
     'shell.execute_reply': '2025-03-13T16:20:25.215600Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:25.197452',
     'end_time': '2025-03-13T16:20:25.216646',
     'duration': 0.019194,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': '### Getting all the factor data\nliq_monthly = pd.read_csv("Data/ba-odegaard.no/liq_measures_ose_monthly.txt",\n                        sep=\',\', encoding=\'latin1\')\n\nliq_daily = pd.read_csv("Data/ba-odegaard.no/liq_measures_ose_daily.txt",\n                        sep=\',\', encoding=\'latin1\')\n\nmkt_daily = pd.read_csv("Data/ba-odegaard.no/market_portfolios_daily.txt",\n                        sep=\',\', encoding=\'latin1\')\n\nmkt_monthly = pd.read_csv("Data/ba-odegaard.no/market_portfolios_monthly.txt",\n                        sep=\',\', encoding=\'latin1\')\n\nfactors_daily = pd.read_csv("Data/ba-odegaard.no/pricing_factors_daily.txt",\n                        sep=\',\', encoding=\'latin1\')\n\nfactors_monthly = pd.read_csv("Data/ba-odegaard.no/pricing_factors_monthly.txt",\n                        sep=\',\', encoding=\'latin1\')\n\nrf_daily = pd.read_csv("Data/ba-odegaard.no/rf_daily.txt",\n                        sep=\',\', encoding=\'latin1\', skiprows=1)\n\nrf_monthly = pd.read_csv("Data/ba-odegaard.no/rf_monthly.txt",\n                        sep=\',\', encoding=\'latin1\', skiprows=1)'},
  {'cell_type': 'code',
   'execution_count': 3,
   'id': 'a98a4fb0',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:25.218221Z',
     'iopub.execute_input': '2025-03-13T16:20:25.218329Z',
     'iopub.status.idle': '2025-03-13T16:20:25.233456Z',
     'shell.execute_reply': '2025-03-13T16:20:25.233196Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:25.217315',
     'end_time': '2025-03-13T16:20:25.234163',
     'duration': 0.016848,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': "### Fixing the dates and putting them as the index\nliq_monthly['date'] = pd.to_datetime(liq_monthly['date'], format='%Y%m%d')\nliq_monthly.set_index('date', inplace=True)\n\nliq_daily['date'] = pd.to_datetime(liq_daily['date'], format='%Y%m%d')\nliq_daily.set_index('date', inplace=True)\n\nmkt_daily['date'] = pd.to_datetime(mkt_daily['date'], format='%Y%m%d')\nmkt_daily.set_index('date', inplace=True)\n\nmkt_monthly['date'] = pd.to_datetime(mkt_monthly['date'], format='%Y%m%d')\nmkt_monthly.set_index('date', inplace=True)\n\nfactors_daily['date'] = pd.to_datetime(factors_daily['date'], format='%Y%m%d')\nfactors_daily.set_index('date', inplace=True)\n\nfactors_monthly['date'] = pd.to_datetime(factors_monthly['date'], format='%Y%m%d')\nfactors_monthly.set_index('date', inplace=True)\n\nrf_daily['date'] = pd.to_datetime(rf_daily['date'], format='%Y%m%d')\nrf_daily.set_index('date', inplace=True)\n\nrf_monthly['date'] = pd.to_datetime(rf_monthly['date'], format='%Y%m%d')\nrf_monthly.set_index('date', inplace=True)"},
  {'cell_type': 'code',
   'execution_count': 4,
   'id': 'e1cc3eec',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:25.235764Z',
     'iopub.execute_input': '2025-03-13T16:20:25.235861Z',
     'iopub.status.idle': '2025-03-13T16:20:25.244916Z',
     'shell.execute_reply': '2025-03-13T16:20:25.244593Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:25.234887',
     'end_time': '2025-03-13T16:20:25.245647',
     'duration': 0.01076,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': '### Putting factors_daily and rf_daily together\nfactors_daily = pd.concat([factors_daily, rf_daily, mkt_daily[["EW", "VW"]]], axis=1)\n\n### Changing the column name of Rf(1d) to rf\nfactors_daily.rename(columns={\'Rf(1d)\': \'rf\'}, inplace=True)\n\n### Interpolating the risk free rate\nfactors_daily[\'rf\'] = factors_daily[\'rf\'].interpolate()\n\n### Doing the same for the monthly data\nfactors_monthly = pd.concat([factors_monthly, rf_monthly, mkt_monthly[["EW", "VW"]]], axis=1)\nfactors_monthly.rename(columns={\'Rf(1m)\': \'rf\'}, inplace=True)\nfactors_monthly[\'rf\'] = factors_monthly[\'rf\'].interpolate()\n\n### Restricting the period to 1980-2023\nfactors_daily = factors_daily[\'1980\':\'2023\']\n\nfactors_monthly = factors_monthly[\'1980\':\'2023\']\n\n### Getting the excess returns of EW and VW\nfactors_daily[\'EW\'] = factors_daily[\'EW\'] - factors_daily[\'rf\']\nfactors_daily[\'VW\'] = factors_daily[\'VW\'] - factors_daily[\'rf\']\nfactors_monthly[\'EW\'] = factors_monthly[\'EW\'] - factors_monthly[\'rf\']\nfactors_monthly[\'VW\'] = factors_monthly[\'VW\'] - factors_monthly[\'rf\']'},
  {'cell_type': 'code',
   'execution_count': 5,
   'id': '0d4f6335',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:25.247256Z',
     'iopub.execute_input': '2025-03-13T16:20:25.247473Z',
     'iopub.status.idle': '2025-03-13T16:20:25.335177Z',
     'shell.execute_reply': '2025-03-13T16:20:25.334950Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:25.246325',
     'end_time': '2025-03-13T16:20:25.335983',
     'duration': 0.089658,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': "### Adding the factors to the database\nconn = sqlite3.connect('Data/data.db')\n\nfactors_daily.to_sql('factors_daily', conn, if_exists='replace')\nfactors_monthly.to_sql('factors_monthly', conn, if_exists='replace')\nliq_daily.to_sql('liq_daily', conn, if_exists='replace')\nliq_monthly.to_sql('liq_monthly', conn, if_exists='replace')\n\nconn.close()"}],
 'metadata': {'kernelspec': {'display_name': 'Python 3',
   'language': 'python',
   'name': 'python3'},
  'language_info': {'name': 'python',
   'version': '3.13.1',
   'mimetype': 'text/x-python',
   'codemirror_mode': {'name': 'ipython', 'version': 3},
   'pygments_lexer': 'ipython3',
   'nbconvert_exporter': 'python',
   'file_extension': '.py'},
  'papermill': {'default_parameters': {},
   'duration': 1.767978,
   'end_time': '2025-03-13T16:20:25.553488',
   'environment_variables': {},
   'exception': None,
   'input_path': '01_data_factors_rf_mkt.ipynb',
   'output_path': '01_data_factors_rf_mkt.ipynb',
   'parameters': {},
   'start_time': '2025-03-13T16:20:23.785510',
   'version': '2.6.0'}},
 'nbformat': 4,
 'nbformat_minor': 5}

In [4]:
pm.execute_notebook('02_data_indecies.ipynb', '02_data_indecies.ipynb')

Executing: 100%|██████████| 4/4 [00:01<00:00,  2.19cell/s]

{'cells': [{'cell_type': 'code',
   'execution_count': 1,
   'id': '0e448fdf',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:26.123088Z',
     'iopub.execute_input': '2025-03-13T16:20:26.123644Z',
     'iopub.status.idle': '2025-03-13T16:20:26.535556Z',
     'shell.execute_reply': '2025-03-13T16:20:26.535247Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:26.118950',
     'end_time': '2025-03-13T16:20:26.536458',
     'duration': 0.417508,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': "### Installing the required packages if not already installed\npackages = ['numpy', 'pandas', 'warnings', 'sqlite3', 'yfinance', 'numba', 'time']\n\nfor package in packages:\n    try:\n        __import__(package)\n    except ImportError:\n        %pip install {package}\n\n\n### Start timer\nimport time\nstart = time.time()\n\nimport numpy as np\nimport pandas as pd\nimport warnings\nimport sqlite3\nimport os\n\n### Ignoring the warnings\nwarnings.filterwarnings('ignore')\n\n### Setting working directory\nos.chdir('/Users/emilwilliamhansen/Library/Mobile Documents/com~apple~CloudDocs/School/Master Thesis/Code')"},
  {'cell_type': 'code',
   'execution_count': 2,
   'id': '81da50b6',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:26.538985Z',
     'iopub.execute_input': '2025-03-13T16:20:26.539154Z',
     'iopub.status.idle': '2025-03-13T16:20:26.637443Z',
     'shell.execute_reply': '2025-03-13T16:20:26.637187Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:26.537763',
     'end_time': '2025-03-13T16:20:26.638143',
     'duration': 0.10038,
     'status': 'completed'},
    'tags': []},
   'outputs': [{'output_type': 'execute_result',
     'metadata': {},
     'data': {'text/plain': '            date         secid ticker                name    close\n0     1983-01-03          9002   FRSX   Forsikringsindeks   100.00\n1     1983-01-03          9004   INDX      Industriindeks   100.00\n2     1983-01-03          9008   SKIX         Skipsindeks   100.00\n3     1983-01-03          9009   TOTX         Totalindeks   100.00\n4     1983-01-04          9000   BANX          Bankindeks    99.73\n...          ...           ...    ...                 ...      ...\n20656 2024-08-14  NO0007035327  OSEBX            OSEBX GR  1437.29\n20657 2024-08-14  NO0010890429  OFINN   OBX FINANCIALS NR   157.04\n20658 2024-08-14  NO0010890510   OCSN  OBX CONS STAPLE NR   115.41\n20659 2024-08-14  NO0010890403   OHCP     OBX HEALTH C PR    42.78\n20660 2024-08-14  NO0010892185  SSSHP    OSLO SHIPPING PR   351.78\n\n[267971 rows x 5 columns]',
      'text/html': '<div>\n<style scoped>\n    .dataframe tbody tr th:only-of-type {\n        vertical-align: middle;\n    }\n\n    .dataframe tbody tr th {\n        vertical-align: top;\n    }\n\n    .dataframe thead th {\n        text-align: right;\n    }\n</style>\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>date</th>\n      <th>secid</th>\n      <th>ticker</th>\n      <th>name</th>\n      <th>close</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1983-01-03</td>\n      <td>9002</td>\n      <td>FRSX</td>\n      <td>Forsikringsindeks</td>\n      <td>100.00</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>1983-01-03</td>\n      <td>9004</td>\n      <td>INDX</td>\n      <td>Industriindeks</td>\n      <td>100.00</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>1983-01-03</td>\n      <td>9008</td>\n      <td>SKIX</td>\n      <td>Skipsindeks</td>\n      <td>100.00</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>1983-01-03</td>\n      <td>9009</td>\n      <td>TOTX</td>\n      <td>Totalindeks</td>\n      <td>100.00</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>1983-01-04</td>\n      <td>9000</td>\n      <td>BANX</td>\n      <td>Bankindeks</td>\n      <td>99.73</td>\n    </tr>\n    <tr>\n      <th>...</th>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n    </tr>\n    <tr>\n      <th>20656</th>\n      <td>2024-08-14</td>\n      <td>NO0007035327</td>\n      <td>OSEBX</td>\n      <td>OSEBX GR</td>\n      <td>1437.29</td>\n    </tr>\n    <tr>\n      <th>20657</th>\n      <td>2024-08-14</td>\n      <td>NO0010890429</td>\n      <td>OFINN</td>\n      <td>OBX FINANCIALS NR</td>\n      <td>157.04</td>\n    </tr>\n    <tr>\n      <th>20658</th>\n      <td>2024-08-14</td>\n      <td>NO0010890510</td>\n      <td>OCSN</td>\n      <td>OBX CONS STAPLE NR</td>\n      <td>115.41</td>\n    </tr>\n    <tr>\n      <th>20659</th>\n      <td>2024-08-14</td>\n      <td>NO0010890403</td>\n      <td>OHCP</td>\n      <td>OBX HEALTH C PR</td>\n      <td>42.78</td>\n    </tr>\n    <tr>\n      <th>20660</th>\n      <td>2024-08-14</td>\n      <td>NO0010892185</td>\n      <td>SSSHP</td>\n      <td>OSLO SHIPPING PR</td>\n      <td>351.78</td>\n    </tr>\n  </tbody>\n</table>\n<p>267971 rows × 5 columns</p>\n</div>'},
     'execution_count': 2}],
   'source': '### Reading the index daily data\nindex_83_99 = pd.read_csv("Data/obi/daily_equity_index_ose/stock_index_1983_1999.csv",\n                     sep=\';\', encoding=\'latin1\')\n\nindex_00_09 = pd.read_csv("Data/obi/daily_equity_index_ose/stock_index_2000_2009.csv",\n                        sep=\';\', encoding=\'latin1\')\n\nindex_10_20 = pd.read_csv("Data/obi/daily_equity_index_ose/stock_index_2010_2020.csv",\n                        sep=\';\', encoding=\'latin1\')\n\nindex_20_24 = pd.read_csv("Data/obi/daily_equity_index_ose/norway_index_observations_2020_2024.csv",\n                        sep=\';\', encoding=\'latin1\').rename(columns={\'Date\': \'date\', \'symbol\': \'ticker\', \'ISIN\': \'secid\'})\n\n### Concatenating the data\nindex_daily = pd.concat([index_83_99, index_00_09, index_10_20, index_20_24])\n\n### Fixing the date format\nindex_daily[\'date\'] = pd.to_datetime(index_daily[\'date\'], format=\'%Y%m%d\')  \nindex_daily'},
  {'cell_type': 'code',
   'execution_count': 3,
   'id': '05f65927',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:26.640235Z',
     'iopub.execute_input': '2025-03-13T16:20:26.640358Z',
     'iopub.status.idle': '2025-03-13T16:20:26.648022Z',
     'shell.execute_reply': '2025-03-13T16:20:26.647794Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:26.639195',
     'end_time': '2025-03-13T16:20:26.648641',
     'duration': 0.009446,
     'status': 'completed'},
    'tags': []},
   'outputs': [{'output_type': 'stream',
     'name': 'stdout',
     'text': 'Series([], Name: count, dtype: int64)\n'}],
   'source': '### Looking at the values in daily where the ticker is NaN\nprint(index_daily[index_daily[\'ticker\'].isnull()]["name"].value_counts())'},
  {'cell_type': 'code',
   'execution_count': 4,
   'id': 'd2bc5c19',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:26.650285Z',
     'iopub.execute_input': '2025-03-13T16:20:26.650388Z',
     'iopub.status.idle': '2025-03-13T16:20:27.179556Z',
     'shell.execute_reply': '2025-03-13T16:20:27.179268Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:26.649371',
     'end_time': '2025-03-13T16:20:27.180393',
     'duration': 0.531022,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': "### Getting the tickers and names\nindex_tickers = index_daily[['ticker', 'name']].drop_duplicates(subset='ticker').sort_values('ticker').reset_index(drop=True)\n\n### From long format to wide format\ndates = index_daily['date'].drop_duplicates().sort_values().reset_index(drop=True)\ntickers = index_tickers['ticker']\n\nindex_daily_prices = index_daily.pivot_table(\n    index='date',\n    columns='ticker',\n    values='close',\n    aggfunc='first'\n).reindex(index=dates, columns=tickers)\n\n### Resampling the data to monthly\nindex_monthly_prices = index_daily_prices.resample('M').last()\n\n### Getting returns\nindex_daily_returns = index_daily_prices.pct_change().iloc[1:]\nindex_monthly_returns = index_monthly_prices.pct_change().iloc[1:]\n\n### Connecting to the database\nconn = sqlite3.connect('Data/data.db')\n\nindex_daily_prices.to_sql('index_daily_prices', conn, if_exists='replace')\nindex_monthly_prices.to_sql('index_monthly_prices', conn, if_exists='replace')\nindex_daily_returns.to_sql('index_daily_returns', conn, if_exists='replace')\nindex_monthly_returns.to_sql('index_monthly_returns', conn, if_exists='replace')\nindex_tickers.to_sql('index_tickers', conn, if_exists='replace')\n\n### Closing the connection\nconn.close()"}],
 'metadata': {'kernelspec': {'display_name': 'Python 3',
   'language': 'python',
   'name': 'python3'},
  'language_info': {'name': 'python',
   'version': '3.13.1',
   'mimetype': 'text/x-python',
   'codemirror_mode': {'name': 'ipython', 'version': 3},
   'pygments_lexer': 'ipython3',
   'nbconvert_exporter': 'python',
   'file_extension': '.py'},
  'papermill': {'default_parameters': {},
   'duration': 1.829624,
   'end_time': '2025-03-13T16:20:27.397803',
   'environment_variables': {},
   'exception': None,
   'input_path': '02_data_indecies.ipynb',
   'output_path': '02_data_indecies.ipynb',
   'parameters': {},
   'start_time': '2025-03-13T16:20:25.568179',
   'version': '2.6.0'}},
 'nbformat': 4,
 'nbformat_minor': 5}

In [5]:
pm.execute_notebook('03_finalizing_data.ipynb', '03_finalizing_data.ipynb')

Executing: 100%|██████████| 16/16 [00:07<00:00,  2.16cell/s]

{'cells': [{'cell_type': 'code',
   'execution_count': 1,
   'id': 'f579ecf7',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:27.941142Z',
     'iopub.execute_input': '2025-03-13T16:20:27.941499Z',
     'iopub.status.idle': '2025-03-13T16:20:28.154419Z',
     'shell.execute_reply': '2025-03-13T16:20:28.154054Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:27.933743',
     'end_time': '2025-03-13T16:20:28.155506',
     'duration': 0.221763,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': "### Installing the required packages if not already installed\npackages = ['numpy', 'pandas', 'warnings', 'sqlite3', 'time']\n\nfor package in packages:\n    try:\n        __import__(package)\n    except ImportError:\n        %pip install {package}\n\n\n### Start timer\nimport time\nstart = time.time()\n\nimport numpy as np\nimport pandas as pd\nimport warnings\nimport sqlite3\nimport os\n\n### Ignoring the warnings\nwarnings.filterwarnings('ignore')\n\n### Setting working directory\nos.chdir('/Users/emilwilliamhansen/Library/Mobile Documents/com~apple~CloudDocs/School/Master Thesis/Code')"},
  {'cell_type': 'markdown',
   'id': 'aa1e5dcd',
   'metadata': {'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:28.157900',
     'end_time': '2025-03-13T16:20:28.160300',
     'duration': 0.0024,
     'status': 'completed'},
    'tags': []},
   'source': '#### Goal:\n\nHere I will simply make sure all the monthly and daily data alligns with each other. So, we will simply import all data, make sure it has the same stocks and the same periods in it.'},
  {'cell_type': 'code',
   'execution_count': 2,
   'id': '56bf5db4',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:28.163678Z',
     'iopub.execute_input': '2025-03-13T16:20:28.164278Z',
     'iopub.status.idle': '2025-03-13T16:20:30.699558Z',
     'shell.execute_reply': '2025-03-13T16:20:30.699251Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:28.161484',
     'end_time': '2025-03-13T16:20:30.700417',
     'duration': 2.538933,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': '### Importing the monthly data\n### Connecting to the database\nconn = sqlite3.connect(\'Data/data.db\')\n\n### Getting data from the SQL database\nmonthly_returns = pd.read_sql_query("SELECT * FROM monthly_returns", conn, index_col=\'index\')\ndaily_returns = pd.read_sql_query("SELECT * FROM daily_returns", conn, index_col=\'index\')\n\n\nfiltered_monthly_returns = pd.read_sql_query("SELECT * FROM filtered_monthly_returns", conn, index_col=\'index\')\nfiltered_daily_returns = pd.read_sql_query("SELECT * FROM filtered_daily_returns", conn, index_col=\'index\')\n\n\nfactors_monthly = pd.read_sql_query("SELECT * FROM factors_monthly", conn, index_col=\'date\')\nfactors_daily = pd.read_sql_query("SELECT * FROM factors_daily", conn, index_col=\'date\')\nliq_monthly = pd.read_sql_query("SELECT * FROM liq_monthly", conn, index_col=\'date\')\nliq_daily = pd.read_sql_query("SELECT * FROM liq_daily", conn, index_col=\'date\')\n\nindex_monthly_returns = pd.read_sql_query("SELECT * FROM index_monthly_returns", conn, index_col=\'date\')\nindex_daily_returns = pd.read_sql_query("SELECT * FROM index_daily_returns", conn, index_col=\'date\')\nindex_monthly_prices = pd.read_sql_query("SELECT * FROM index_monthly_prices", conn, index_col=\'date\')\nindex_monthly_prices = pd.read_sql_query("SELECT * FROM index_monthly_prices", conn, index_col=\'date\')\n\n### Closing the connection\nconn.close()'},
  {'cell_type': 'markdown',
   'id': '4dd26ae0',
   'metadata': {'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:30.703413',
     'end_time': '2025-03-13T16:20:30.704680',
     'duration': 0.001267,
     'status': 'completed'},
    'tags': []},
   'source': '#### Fixing the indexes'},
  {'cell_type': 'code',
   'execution_count': 3,
   'id': 'cfe27bb7',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:30.706952Z',
     'iopub.execute_input': '2025-03-13T16:20:30.707084Z',
     'iopub.status.idle': '2025-03-13T16:20:30.722168Z',
     'shell.execute_reply': '2025-03-13T16:20:30.721910Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:30.705651',
     'end_time': '2025-03-13T16:20:30.722907',
     'duration': 0.017256,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': 'monthly_returns.index = pd.to_datetime(monthly_returns.index)\ndaily_returns.index = pd.to_datetime(daily_returns.index)\n\nfiltered_monthly_returns.index = pd.to_datetime(filtered_monthly_returns.index)\nfiltered_daily_returns.index = pd.to_datetime(filtered_daily_returns.index)\n\nfactors_monthly.index = pd.to_datetime(factors_monthly.index)\nfactors_daily.index = pd.to_datetime(factors_daily.index)\nliq_monthly.index = pd.to_datetime(liq_monthly.index)\nliq_daily.index = pd.to_datetime(liq_daily.index)\n\nindex_monthly_returns.index = pd.to_datetime(index_monthly_returns.index)\nindex_daily_returns.index = pd.to_datetime(index_daily_returns.index)\nindex_monthly_prices.index = pd.to_datetime(index_monthly_prices.index)\nindex_monthly_prices.index = pd.to_datetime(index_monthly_prices.index)'},
  {'cell_type': 'markdown',
   'id': '8d0b1371',
   'metadata': {'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:30.724038',
     'end_time': '2025-03-13T16:20:30.724987',
     'duration': 0.000949,
     'status': 'completed'},
    'tags': []},
   'source': "#### Renaming all the dates colums to 'Date'"},
  {'cell_type': 'code',
   'execution_count': 4,
   'id': '5f24723a',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:30.727138Z',
     'iopub.execute_input': '2025-03-13T16:20:30.727246Z',
     'iopub.status.idle': '2025-03-13T16:20:30.729048Z',
     'shell.execute_reply': '2025-03-13T16:20:30.728853Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:30.725864',
     'end_time': '2025-03-13T16:20:30.729708',
     'duration': 0.003844,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': "monthly_returns.index.name = 'Date'\ndaily_returns.index.name = 'Date'\n\nfiltered_monthly_returns.index.name = 'Date'\nfiltered_daily_returns.index.name = 'Date'\n\nfactors_monthly.index.name = 'Date'\nfactors_daily.index.name = 'Date'\nliq_monthly.index.name = 'Date'\nliq_daily.index.name = 'Date'\n\nindex_monthly_returns.index.name = 'Date'\nindex_daily_returns.index.name = 'Date'\nindex_monthly_prices.index.name = 'Date'\nindex_monthly_prices.index.name = 'Date'"},
  {'cell_type': 'markdown',
   'id': 'cc242827',
   'metadata': {'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:30.730806',
     'end_time': '2025-03-13T16:20:30.731743',
     'duration': 0.000937,
     'status': 'completed'},
    'tags': []},
   'source': '#### Restricting the period to 1980-2023'},
  {'cell_type': 'code',
   'execution_count': 5,
   'id': '9e4d45c5',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:30.733960Z',
     'iopub.execute_input': '2025-03-13T16:20:30.734058Z',
     'iopub.status.idle': '2025-03-13T16:20:30.740080Z',
     'shell.execute_reply': '2025-03-13T16:20:30.739831Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:30.732671',
     'end_time': '2025-03-13T16:20:30.740842',
     'duration': 0.008171,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': "### Making all returns go from 1980-01-01 to 2023-12-31\nmonthly_returns = monthly_returns.loc['1980-01-01':'2023-12-31']\ndaily_returns = daily_returns.loc['1980-01-01':'2023-12-31']\n\nfiltered_monthly_returns = filtered_monthly_returns.loc['1980-01-01':'2023-12-31']\nfiltered_daily_returns = filtered_daily_returns.loc['1980-01-01':'2023-12-31']\n\n\nfactors_monthly = factors_monthly.loc['1980-01-01':'2023-12-31']\nfactors_daily = factors_daily.loc['1980-01-01':'2023-12-31']\nliq_monthly = liq_monthly.loc['1980-01-01':'2023-12-31']\nliq_daily = liq_daily.loc['1980-01-01':'2023-12-31']\n\nindex_monthly_returns = index_monthly_returns.loc['1980-01-01':'2023-12-31']\nindex_daily_returns = index_daily_returns.loc['1980-01-01':'2023-12-31']\nindex_monthly_prices = index_monthly_prices.loc['1980-01-01':'2023-12-31']\nindex_monthly_prices = index_monthly_prices.loc['1980-01-01':'2023-12-31']"},
  {'cell_type': 'markdown',
   'id': '0453987d',
   'metadata': {'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:30.741949',
     'end_time': '2025-03-13T16:20:30.742897',
     'duration': 0.000948,
     'status': 'completed'},
    'tags': []},
   'source': '#### Fixing the shapes'},
  {'cell_type': 'code',
   'execution_count': 6,
   'id': '2ce2194b',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:30.745108Z',
     'iopub.execute_input': '2025-03-13T16:20:30.745241Z',
     'iopub.status.idle': '2025-03-13T16:20:30.747007Z',
     'shell.execute_reply': '2025-03-13T16:20:30.746817Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:30.743843',
     'end_time': '2025-03-13T16:20:30.747656',
     'duration': 0.003813,
     'status': 'completed'},
    'tags': []},
   'outputs': [{'output_type': 'stream',
     'name': 'stdout',
     'text': 'Monthly Returns: (528, 1074)\nFiltered Monthly Returns: (528, 995)\nFactors Monthly: (528, 6)\nLiq Monthly: (491, 4)\nIndex Monthly Returns: (491, 156)\nIndex Monthly Prices: (492, 156)\n'}],
   'source': "print('Monthly Returns:', monthly_returns.shape)\nprint('Filtered Monthly Returns:', filtered_monthly_returns.shape)\nprint('Factors Monthly:', factors_monthly.shape)\nprint('Liq Monthly:', liq_monthly.shape)\nprint('Index Monthly Returns:', index_monthly_returns.shape)\nprint('Index Monthly Prices:', index_monthly_prices.shape)"},
  {'cell_type': 'code',
   'execution_count': 7,
   'id': '5394b7ce',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:30.749845Z',
     'iopub.execute_input': '2025-03-13T16:20:30.749938Z',
     'iopub.status.idle': '2025-03-13T16:20:30.752148Z',
     'shell.execute_reply': '2025-03-13T16:20:30.751951Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:30.748634',
     'end_time': '2025-03-13T16:20:30.752786',
     'duration': 0.004152,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': 'liq_monthly = liq_monthly.reindex(monthly_returns.index)\nindex_monthly_returns = index_monthly_returns.reindex(monthly_returns.index)\nindex_monthly_prices = index_monthly_prices.reindex(monthly_returns.index)\nfactors_monthly = factors_monthly.reindex(monthly_returns.index)'},
  {'cell_type': 'code',
   'execution_count': 8,
   'id': '6229905a',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:30.755228Z',
     'iopub.execute_input': '2025-03-13T16:20:30.755344Z',
     'iopub.status.idle': '2025-03-13T16:20:30.757142Z',
     'shell.execute_reply': '2025-03-13T16:20:30.756913Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:30.753743',
     'end_time': '2025-03-13T16:20:30.757794',
     'duration': 0.004051,
     'status': 'completed'},
    'tags': []},
   'outputs': [{'output_type': 'stream',
     'name': 'stdout',
     'text': 'Daily Returns: (11041, 1074)\nFiltered Daily Returns: (11041, 995)\nFactors Daily: (11102, 6)\nLiq Daily: (10265, 2)\nIndex Daily Returns: (10131, 156)\nIndex Daily Prices: (10131, 156)\n'}],
   'source': "print('Daily Returns:', daily_returns.shape)\nprint('Filtered Daily Returns:', filtered_daily_returns.shape)\nprint('Factors Daily:', factors_daily.shape)\nprint('Liq Daily:', liq_daily.shape)\nprint('Index Daily Returns:', index_daily_returns.shape)\nprint('Index Daily Prices:', index_daily_returns.shape)"},
  {'cell_type': 'code',
   'execution_count': 9,
   'id': 'bc2b5b80',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:30.760132Z',
     'iopub.execute_input': '2025-03-13T16:20:30.760221Z',
     'iopub.status.idle': '2025-03-13T16:20:30.767589Z',
     'shell.execute_reply': '2025-03-13T16:20:30.767337Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:30.758864',
     'end_time': '2025-03-13T16:20:30.768368',
     'duration': 0.009504,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': 'factors_daily = factors_daily.reindex(daily_returns.index)\nliq_daily = liq_daily.reindex(daily_returns.index)\nindex_daily_returns = index_daily_returns.reindex(daily_returns.index)\nindex_monthly_prices = index_monthly_prices.reindex(daily_returns.index)'},
  {'cell_type': 'markdown',
   'id': '84c22523',
   'metadata': {'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:30.769535',
     'end_time': '2025-03-13T16:20:30.770531',
     'duration': 0.000996,
     'status': 'completed'},
    'tags': []},
   'source': '#### Saving all the data again'},
  {'cell_type': 'code',
   'execution_count': 10,
   'id': '7c87f0c7',
   'metadata': {'execution': {'iopub.status.busy': '2025-03-13T16:20:30.773136Z',
     'iopub.execute_input': '2025-03-13T16:20:30.773260Z',
     'iopub.status.idle': '2025-03-13T16:20:34.600222Z',
     'shell.execute_reply': '2025-03-13T16:20:34.599873Z'},
    'papermill': {'exception': False,
     'start_time': '2025-03-13T16:20:30.771583',
     'end_time': '2025-03-13T16:20:34.601064',
     'duration': 3.829481,
     'status': 'completed'},
    'tags': []},
   'outputs': [],
   'source': "### Saving all the data to the same database\nconn = sqlite3.connect('Data/data.db')\n\nmonthly_returns.to_sql('monthly_returns', conn, if_exists='replace')\ndaily_returns.to_sql('daily_returns', conn, if_exists='replace')\n\n\nfiltered_monthly_returns.to_sql('filtered_monthly_returns', conn, if_exists='replace')\nfiltered_daily_returns.to_sql('filtered_daily_returns', conn, if_exists='replace')\n\n\nfactors_monthly.to_sql('factors_monthly', conn, if_exists='replace')\nfactors_daily.to_sql('factors_daily', conn, if_exists='replace')\nliq_monthly.to_sql('liq_monthly', conn, if_exists='replace')\nliq_daily.to_sql('liq_daily', conn, if_exists='replace')\n\nindex_monthly_returns.to_sql('index_monthly_returns', conn, if_exists='replace')\nindex_daily_returns.to_sql('index_daily_returns', conn, if_exists='replace')\nindex_monthly_prices.to_sql('index_monthly_prices', conn, if_exists='replace')\nindex_monthly_prices.to_sql('index_monthly_prices', conn, if_exists='replace')\n\nconn.close()"}],
 'metadata': {'kernelspec': {'display_name': 'Python 3',
   'language': 'python',
   'name': 'python3'},
  'language_info': {'name': 'python',
   'version': '3.13.1',
   'mimetype': 'text/x-python',
   'codemirror_mode': {'name': 'ipython', 'version': 3},
   'pygments_lexer': 'ipython3',
   'nbconvert_exporter': 'python',
   'file_extension': '.py'},
  'papermill': {'default_parameters': {},
   'duration': 7.408748,
   'end_time': '2025-03-13T16:20:34.819460',
   'environment_variables': {},
   'exception': None,
   'input_path': '03_finalizing_data.ipynb',
   'output_path': '03_finalizing_data.ipynb',
   'parameters': {},
   'start_time': '2025-03-13T16:20:27.410712',
   'version': '2.6.0'}},
 'nbformat': 4,
 'nbformat_minor': 5}

In [6]:
pm.execute_notebook('10_umd_replication.ipynb', '10_umd_replication.ipynb')

Executing:  20%|██        | 2/10 [00:01<00:07,  1.14cell/s]

PapermillExecutionError:
---------------------------------------------------------------------------
Exception encountered at "In [2]":
---------------------------------------------------------------------------
OperationalError                          Traceback (most recent call last)
File /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/io/sql.py:2674, in SQLiteDatabase.execute(self, sql, params)
   2673 try:
-> 2674     cur.execute(sql, *args)
   2675     return cur

OperationalError: no such table: filtered_daily_returns

The above exception was the direct cause of the following exception:

DatabaseError                             Traceback (most recent call last)
Cell In[2], line 5
      2 conn = sqlite3.connect('Data/data.db')
      4 ### Reading the data from the database
----> 5 stock_ret_d = pd.read_sql('SELECT * FROM filtered_daily_returns', conn).set_index('Date')
      6 stock_ret_m = pd.read_sql('SELECT * FROM filtered_monthly_returns', conn).set_index('Date')
      7 factor_ret_d = pd.read_sql('SELECT * FROM factors_daily', conn).set_index('Date')

File /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/io/sql.py:706, in read_sql(sql, con, index_col, coerce_float, params, parse_dates, columns, chunksize, dtype_backend, dtype)
    704 with pandasSQL_builder(con) as pandas_sql:
    705     if isinstance(pandas_sql, SQLiteDatabase):
--> 706         return pandas_sql.read_query(
    707             sql,
    708             index_col=index_col,
    709             params=params,
    710             coerce_float=coerce_float,
    711             parse_dates=parse_dates,
    712             chunksize=chunksize,
    713             dtype_backend=dtype_backend,
    714             dtype=dtype,
    715         )
    717     try:
    718         _is_table_name = pandas_sql.has_table(sql)

File /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/io/sql.py:2738, in SQLiteDatabase.read_query(self, sql, index_col, coerce_float, parse_dates, params, chunksize, dtype, dtype_backend)
   2727 def read_query(
   2728     self,
   2729     sql,
   (...)
   2736     dtype_backend: DtypeBackend | Literal["numpy"] = "numpy",
   2737 ) -> DataFrame | Iterator[DataFrame]:
-> 2738     cursor = self.execute(sql, params)
   2739     columns = [col_desc[0] for col_desc in cursor.description]
   2741     if chunksize is not None:

File /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/io/sql.py:2686, in SQLiteDatabase.execute(self, sql, params)
   2683     raise ex from inner_exc
   2685 ex = DatabaseError(f"Execution failed on sql '{sql}': {exc}")
-> 2686 raise ex from exc

DatabaseError: Execution failed on sql 'SELECT * FROM filtered_daily_returns': no such table: filtered_daily_returns

In [ ]:
pm.execute_notebook('11_bab_replication.ipynb', '11_bab_replication.ipynb')

In [ ]:
pm.execute_notebook('20_volatility_managed_factors.ipynb', '20_volatility_managed_factors.ipynb')

In [ ]:
pm.execute_notebook('21_volatility_managed_portfolios.ipynb', '21_volatility_managed_portfolios.ipynb')

In [ ]:
pm.execute_notebook('22_volatility_statistics.ipynb', '22_volatility_statistics.ipynb')

In [ ]:
pm.execute_notebook('30_data_statistics.ipynb', '21_volatility_managed_por30_data_statisticstfolios.ipynb')